#map {
  height: 400px;
  display: block;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  /*display: flex;*/
}

.filter {
 overflow: scroll;
 height: 300px;
}

.filter-box {
  background: grey;
  width: 100%;
  height: 20%;
}

.filter-input {
  text-align: center;
}

.button-row {
  text-align: center;
}

.filtered-venues-list {
  margin-top: 30px;
  text-align: center;
  list-style: none;
} 

.header {
  background: blue;
  width: 100%;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.site-info {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

